html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
}

body {
    display: grid;
    place-content: center;
    background-color: black;
}

#perdu {
    position:fixed;
    top:0;
    left:0;
    z-index: 20;
    height:100vh;
    width: 100vw;
    background-image: url(/img/perdu.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0);
}
#perdu.animFin {
    animation: fin 3s ease-in 3s forwards;
}

@keyframes fin {
    from {
        transform:scale(20);
    }

    to {
        transform:scale(1);
    }
}

#rejouer {
    position: fixed;
    z-index: 25;
    top:50%;
    left:50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    width:15vw;
    height:15vh;
    border-color: whitesmoke;
    color: whitesmoke;
    box-shadow: none;
    clip-path: circle(0%);
}
#rejouer:hover {
    transform: translate(-50%, -50%) scale(1.1) ;
    color: greenyellow;
    border-color: greenyellow;
}
#rejouer.animFin {
    clip-path: circle(0%);
    animation: rejouerFin 2s linear 6s forwards;
}

@keyframes rejouerFin {
    from {
        clip-path: circle(0%);
    }

    to {
        clip-path: circle(100%);
    }
}

#motA {
    position: fixed;
    margin:0;
    padding:0;
    z-index: 10;
    top:7.5vh;
    left:5vw;
    text-align: justify;
    color:whitesmoke;
    font-size: clamp(12px, 3vw, 36px);
    opacity:0;
    transition: all 2s 1s;
}

#navBar {
    position:absolute;
    height: 45vh;
    width:45vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(42, 42, 42);
    clip-path: circle(100%);
    transition: clip-path 1s;

    #jouer {
        width:15vw;
        height:15vh;
        overflow: hidden;
    }

    #regles {
        width:15vw;
        height:15vh;
        overflow: hidden;
    }
}

#reglesBar {
    position:absolute;
    height: 45vh;
    width:45vw;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(42, 42, 42);
    clip-path: circle(0%);
    transition: clip-path 1s 1s;
    display: grid;
    place-content: center;

    p {
        text-align: center;
        font-size:clamp(8px, 1.2vw, 20px);
        height:35vh;
        width:40vw;
        border-radius: 50%;
        margin:auto;
        color:white;
        display: grid;
        place-content: center;
    }

    #reglesOut {
        position:fixed;
        z-index: 10;
        top:10vh;
        left:48vw;
        height:20px;
        width:20px;
        border: 2px solid whitesmoke;
        border-radius: 50%;
        clip-path: circle(0%);
        transition: all 1s 2s;
        cursor: pointer;
        z-index: 10;


        div:nth-of-type(1) {
            position:relative;
            height:10px;
            width:2px;
            background-color: whitesmoke;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        div:nth-of-type(2) {
            position:relative;
            height:10px;
            width:2px;
            background-color: whitesmoke;
            top:50%;
            left:50%;
            transform: translate(-50%, calc(-50% - 10px)) rotate(-45deg);
        }
    }
}

#pendu {
    min-width: 90vw;
    min-height: 80vh;
    background-color:black;
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 45vh 45vh;
    row-gap: 1vh;
    column-gap: 1vw;
    margin:4vh 4vw 4vh 4vw;
}

#mot {
    grid-row:1;
    grid-column: 1;
    border-radius: 50%;
    background-color: rgb(42, 42, 42);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(0%);
    transition: clip-path 1s 1s;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap:1vw;

    span {
        flex: 1 1 auto;
        color: black;
        background-color: lightgray;
        border: 1px solid whitesmoke;
        height:15vh;
        width:3vw;
        border-radius: 10px;
        display: grid;
        place-content: center;
        font-weight: bold;
        font-size: 4vw;
    }
}

#penduCanva {
    grid-row:1;
    grid-column: 2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(42, 42, 42);
    display:grid;
    place-content: center;
    
    .penduBox.animation {
        border-bottom: 5px solid rgba(0, 0, 0, 0);
        animation: borders 2s linear 2s forwards;
    }

    .penduBox {
        height: 35vh;
        width: 12vw;
        margin:20px;
        border-bottom: 5px solid black;

        .poteau {
            position: relative;
            height: 35vh;
            width:0;
            border-right:5px solid black;
            transform: translate(10vw, 0vh);
        }
        .poteau.animation {
            opacity:0;
            border-color: red;
            animation: pendaison 2s linear 3s forwards;
        }

        .barre {
            position: relative;
            height:0;
            width:6vw;
            border-top:5px solid black;
            transform: translate(4vw, -35vh);
        }
        .barre.animation {
            opacity:0;
            border-color: red;
            animation: pendaison 2s linear 4s forwards;
        }

        .homme {
            position: relative;
            height: 20vh;
            width: 5vw;
            transform: translate(1.5vw, -35vh);
            display: grid;
            align-content: start;
            justify-content: center;

            .corde {
                position: relative;
                height:2vh;
                width:0px;
                border-left:5px solid black;
                margin:auto;
            }
            .corde.animation {
                opacity:0;
                border-color: red;
                animation: pendaison 2s linear 5s forwards;
            }

            .tete {
                position: relative;
                height:1.5vw;
                width: 50%;
                border-radius:50% ;
                border:5px solid black;
                transform: translate(0, -0);
                margin:auto;

                .oeilG1 {
                    opacity: 0;
                    position: relative;
                    height: .5vw;
                    width: .5vw;
                    border-left: 2px solid black;
                    top:35%;
                    left:40%;
                    transform-origin: center;
                    transform:translate(-.25vw, -1vh) rotate(-45deg);
                }
                .oeilG1.animation {
                    opacity: 0;
                    animation: pendaisonTete 3s linear 10s forwards;
                }
                .oeilG1.animFin {
                    opacity: 0;
                    animation: pendaisonFin 5s linear forwards;
                }

                .oeilG2 {
                    opacity: 0;
                    position: relative;
                    height: .5vw;
                    width: .5vw;
                    border-bottom: 2px solid black;
                    top:35%;
                    left:40%;
                    transform-origin: center;
                    transform:translate(calc(-1px - .5vw), calc(-1vh - .5vw - 1px)) rotate(-45deg);
                }
                .oeilG2.animation {
                    opacity: 0;
                    animation: pendaisonTete 3s linear 10s forwards;
                }
                .oeilG2.animFin {
                    opacity: 0;
                    animation: pendaisonFin 5s linear forwards;
                }

                .oeilD1 {
                    opacity: 0;
                    position: relative;
                    height: .5vw;
                    width: .5vw;
                    border-left: 2px solid black;
                    top:35%;
                    left:80%;
                    transform-origin: center;
                    transform:translate(-.25vw, calc(-1vh - 1.075vw)) rotate(-45deg);
                }
                .oeilD1.animation {
                    opacity: 0;
                    animation: pendaisonTete 3s linear 10s forwards;
                }
                .oeilD1.animFin {
                    opacity: 0;
                    animation: pendaisonFin 5s linear forwards;
                }

                .oeilD2 {
                    opacity: 0;
                    position: relative;
                    height: .5vw;
                    width: .5vw;
                    border-bottom: 2px solid black;
                    top:35%;
                    left:80%;
                    transform-origin: center;
                    transform:translate(calc(-1px - .5vw), calc(-1vh - 1.575vw - 1px)) rotate(-45deg);
                }
                .oeilD2.animation {
                    opacity: 0;
                    animation: pendaisonTete 3s linear 10s forwards;
                }
                .oeilD2.animFin {
                    opacity: 0;
                    animation: pendaisonFin 5s linear forwards;
                }

                .bouche {
                    position: relative;
                    opacity: 0;
                    height: 1vw;
                    width: 1vw;
                    border-bottom: 2px solid black;
                    left:0%;
                    top:0%;
                    transform:translate(.35vw, -2.2vw);
                }
                .bouche.animation {
                    opacity: 0;
                    animation: pendaisonTete 3s linear 10s forwards;
                }
                .bouche.animFin {
                    opacity: 0;
                    animation: pendaisonFin 5s linear forwards;
                }

            }
            .tete.animation {
                opacity:0;
                border-color: red;
                animation: pendaison 2s linear 6s forwards;            
            }

            .bras {
                flex:none;
                position: relative;
                height:3vw;
                width:3vw;
                border-left:5px solid black;
                border-bottom:5px solid black;
                transform-origin: center;
                transform: translate(0, -1.5vw) rotate(-45deg) ;
                margin:auto;
            }
            .bras.animation {
                opacity:0;
                border-color: red;
                animation: pendaison 2s linear 8s forwards;            
            }

            .tronc {
                position: relative;
                height:12vh;
                width:0px;
                border-left:5px solid black;
                transform: translate(0, -3vw);
                margin:auto;
            }
            .tronc.animation {
                opacity:0;
                border-color: red;
                animation: pendaison 2s linear 7s forwards;            
            }

            .jambes {
                flex:none;
                position: relative;
                height:3vw;
                width:3vw;
                border-top:5px solid black;
                border-right:5px solid black;
                transform-origin: center;
                transform: translate(0,-3vw) rotate(-45deg) ;
                margin:auto;
            }
            .jambes.animation {
                opacity:0;
                border-color: red;
                animation: pendaison 2s linear 9s forwards;            
            }
        }
    }
}

@keyframes pendaison {
    0% {
        opacity: 0;
        border-color:red ;
    }

    50% {
        opacity: 1;
    }

    100% {
        border-color:black;
        opacity: 1;
    }
}

@keyframes pendaisonFin {
    0% {
        opacity: 1;
        border-color:rgba(255, 0, 0, 1) ;
    }

    10% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    20% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    30% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    40% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    50% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    60% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    70% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    80% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    90% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    100% {
        border-color:rgba(255, 0, 0, 1) ;
    }
}

@keyframes pendaisonTete {
    0% {
        opacity: 1;
        border-color:rgba(255, 0, 0, 1) ;
    }

    10% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    20% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    30% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    40% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    50% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    60% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    70% {
        border-color:rgba(255, 0, 0, 0) ;
    }

    80% {
        border-color:rgba(255, 0, 0, 1) ;
    }

    100% {
        border-color:black;
        opacity: 1;
    }
}

@keyframes borders {

    0% {
        border-bottom: 5px solid rgba(255, 0, 0, 0);
    }

    50% {
        border-color:red;
    }

    100% {
        border-color:black;
    }
}


#clavier {
    grid-row:2;
    grid-column: 1 / span 2;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

.clavier {
    height: 37vh;
    width: 75vw;
    border-radius: 50%;
    background-color: rgb(42, 42, 42);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.ligne {
    height:10vh;
    width: 70vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.ligne1 {
    margin-left: 1vw;
}
.ligne2 {
    margin-left: 2vw;
}
.ligne3 {
    margin-left: 3vw;
}



button {
    all:unset;
    cursor: pointer;
    margin:0;
    padding: 0;
    border:1px solid black;
    height:8vh;
    width:6vw;
    font-weight: bold;
    font-size:clamp(12px, 5vw, 200%);
    text-align: center;    
    vertical-align: center;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    box-shadow: 
        1px 1px rgb(160, 160, 160),
        2px 1.5px rgb(150, 150, 150),
        3px 2px rgb(140, 140, 140),
        4px 2.5px rgb(130, 130, 130),
        5px 3px rgb(120, 120, 120),
        6px 3.5px rgb(110, 110, 110),
        7px 4px rgb(100, 100, 100),
        8px 4.5px rgb(90, 90, 90),
        9px 5px rgb(80, 80, 80),
        10px 5.5px rgb(70, 70, 70),
        11px 6px rgb(60, 60, 60),
        12px 6.5px rgb(50, 50, 50),
        13px 7px rgb(40, 40, 40),
        14px 7.5px rgb(30, 30, 30),
        15px 8px rgb(20, 20, 20),
        16px 8.5px rgb(10, 10, 10),
        17px 9px rgb(0, 0, 0);
}

button:hover {
    transform: translate(3px, 3px);
    box-shadow: 
    1px 1px rgb(160, 160, 160),
    2px 1.5px rgb(150, 150, 150),
    3px 2px rgb(140, 140, 140),
    4px 2.5px rgb(130, 130, 130),
    5px 3px rgb(120, 120, 120),
    6px 3.5px rgb(100, 100, 100),
    7px 4px rgb(80, 80, 80),
    8px 4.5px rgb(70, 70, 70),
    9px 5px rgb(60, 60, 60),
    10px 5.5px rgb(50, 50, 50),
    11px 6px rgb(40, 40, 40),
    12px 6.5px rgb(20, 20, 20),
    13px 7px rgb(10, 10, 10),
    14px 7.5px rgb(0, 0, 0);
}

button:active {
    transform: translate(7px, 7px);
    box-shadow: 
    1px 1px rgb(160, 160, 160),
    2px 1.5px rgb(120, 120, 120),
    3px 2px rgb(100, 100, 100),
    4px 2.5px rgb(80, 80, 80),
    5px 3px rgb(60, 60, 60),
    6px 3.5px rgb(40, 40, 40),
    7px 4px rgb(30, 30, 30),
    8px 4.5px rgb(20, 20, 20),
    9px 5px rgb(10, 10, 10),
    10px 5.5px rgb(0, 0, 0),
}



